$font-primary: "Montserrat", "Arial", sans-serif;

//текст
$text-color: #242424;
$text-second-color: #f6a6bf;
$text-light-color: #848484;
$text-accent-color:#28afc9;
$title-color: #f6a6bf;
$text-color-with-bg:#ffffff;

//кнопки
$button-text-color:#ffffff;
$button-bg-color:#f6a6bf;
$button-text-color-hover:#f6a6bf;
$button-bg-color-hover:#ffffff;

$icon-color: #f6a6bf;
//фоны
$section-bg-color: #fffef1;
$section-contacts-bg-color: #faf7f5;
$body-bg-color:#ffffff;
$bg-color: #f6a6bf;

//переменные для плавных переходов
$time: 0.5s;
$time-fast: 0.2s;

$page-width-desktop: 1600px;
$page-width-mobile: 320px;

$page-padding-inline: 200px;
$page-padding-inline-mobile: 10px;
