.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $page-padding-inline-mobile;
  display: flex;
  flex-direction: column;

  @media (min-width: $page-width-desktop) {
    padding: 0 $page-padding-inline;
  }
}
