.container {
  width: $page-width-mobile;
  margin: 0 auto;
  padding: 0 $page-padding-inline-mobile;
  display: flex;
  flex-direction: column;
  background-color: $bg-color-page;

  @media (min-width: $page-width-desktop) {
    width: $page-width-desktop;
    padding: 0 $page-padding-inline;
  }
}
