.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $page-width-desktop) {
    flex-flow: row wrap;
    gap: 20px;
  }
}

.contacts__item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
  flex-direction: column;
  color: $text-color;

  @media (min-width: $page-width-desktop) {
    flex-direction: row;
    gap: 6px;
  }
}

.contacts__text {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  font-style: normal;
  text-align: center;
  color: currentColor;

  @media (min-width: $page-width-desktop) {
    text-align: left;
  }
}

.contacts__item--address {
  font-style: normal;

  @include icon("address",$icon-color, 25px, 25px, 19px, 19px);
}

.contacts__item--time {
  @include icon("clock",$icon-color, 25px, 25px, 18px, 18px);
}

.contacts__item--phone {
  @include icon("phone",$icon-color, 25px, 25px, 18px, 18px);

  @media (max-width: ($page-width-desktop - 1)) {
    order: -1;
  }
}

.contacts__link {
  text-decoration: none;
}
