.fears {
  font-family: $font-primary;
  color: $text-color;
}

.fears__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  & ~ & {
    margin-top: 20px;
  }

  @media (min-width: $page-width-desktop) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}


.fears__hint {
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  color: $text-light-color;

  @media (min-width: $page-width-desktop) {
    display: none;
  }
}

.fears__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fears__wrap {
  padding: 20px $page-padding-inline-mobile;
  margin-inline: -$page-padding-inline-mobile;
  margin-bottom: 5px;
  background-color: $bg-color-light;

  @media (min-width: $page-width-desktop) {
    padding: 29px 30px 21px;
    margin-inline: 0;
  }
}

.fears__question {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: transform $time-long;

  @media (min-width: $page-width-desktop) {
    font-size: 20px;
    line-height: 1.5;

    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;

    &::after,
    &::before {
      content: "";
      width: 30px;
      height: 2px;
      margin: 9px 0;
      background-color: $button-bg-color;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.fears__question--close {
  &::after {
    transform: rotate(0deg);
  }
}

.fears__answer {
  margin: 0;
  visibility: hidden;
  height: 0;
  transition: height $time-long;

  @media (min-width: $page-width-desktop) {
    width: 720px;
  }
}

.fears__answer--opened {
  visibility: visible;
  height: auto;
  padding-top: 20px;
}
