.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $page-width-desktop) {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__menu {
  margin-right: -20px;

  @media (max-width: ($page-width-desktop - 1)) {
    display: none;
  }
}

.footer__copyright {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $text-accent-color;

  @media (min-width: $page-width-desktop) {
    text-align: left;
  }
}
