.form {
  display: grid;
  gap: 30px;
}

.form__input {
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid $text-color;

  &::placeholder {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: $text-light-color;
    background-color: $body-bg-color;
  }
}

.form__button {
  justify-self: start;
}
