.header {
  display: grid;
  padding-top: 20px;

  @media (min-width: $page-width-desktop) {
    align-items: center;
    grid-template-columns: 200px 1fr 260px;
    gap: 10px;
    padding-top: 30px;
  }
}

.header__logo {
  margin: -10px auto 0;

  @media (min-width: $page-width-desktop) {
    margin-left: -10px;
    margin-right: 0;
  }
}

.header__contacts {
  align-items: center;
  justify-content: end;
}

.header__social {
  margin-inline: auto;

  @media (min-width: $page-width-desktop) {
    margin-right: 0;
  }
}
