.header {
  display: grid;
  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $page-width-desktop) {
    align-items: center;
    grid-template-columns: 200px 1fr 260px;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.header__logo {
  margin: 0 auto;

  @media (min-width: $page-width-desktop) {
    margin-left: -10px;
    margin-right: 0;
  }
}

.header__contacts {
  align-items: center;
  justify-content: end;

  @media (max-width: $page-width-desktop) {
    margin-bottom: 25px;
  }
}

.header__social {
  margin-inline: auto;

  @media (min-width: $page-width-desktop) {
    margin-right: 0;
  }
}
